body {
  font-family: Montserrat;
}

.main-container {
  background-color: #d8ac5b;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5vw;
}

.main-header {
  text-align: center;
  padding: 10px;
}

.input-form {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  margin: 5vh auto;
}

.input-field {
  width: 250px;
}

.submit-btn {
  background-color: #bc9854;
  border: 2px solid #aa8c53;
  border-radius: 5px;
  width: 50px;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  margin: 7vh 5vw;
}

.accordion-loading {
  display: none;
}

.accordion__heading:hover {
  background-color: #aa8c53;
}

.accordion__heading {
  background-color: #bc9854;
  font-size: 18px;
  border: 2px solid #aa8c53;
  border-radius: 5px;
}

.accordion__button {
  padding: 10px;
}

.accordion__panel {
  padding: 5px;
  font-size: 15px;
}
